doctype html
html(ng-app="NativeView" ng-controller="ctrlr")
  head
    meta(charset='utf-8')

    script(src='/libraries/threejs/three.js')
    script(src='/libraries/threejs/stereo.js')
    script(src='/libraries/threejs/detector.js')
    script(src='/libraries/threejs/STLLoader.js')
    script(src="/libraries/BRF/libs/createjs/preloadjs-0.6.2.min.js" ng-if="settings.headtracking.sdk == 'BRF'")
    script(src='/libraries/BRF/BRFv4Demo.js' ng-if="settings.headtracking.active")

    script.
        var settings = {
            autoreload: true,
            gyroscope: true,
            stereo: true,
            headtracking: {
                active: false,
                sdk: 'BRFv4',
                basedon: 'Rotation'
            },
            eyetracking: false
        }
        

    script.
        //- window.onload = brfv4Example.start;

    title Testg
    link(href='styles.css', rel='stylesheet')


  body
    #toolbar
      .logo

    .tracker
        .tracking-wrapper#BRF
            video#_webcam(style="transform: scaleX(-1)")
            canvas#_imageData(style="opacity: 0;")
            canvas#_faceSub
            canvas#_t3d
            canvas#_f3d
            canvas#_drawing

    include scene

    #tools
        .folder(ng-click="folder0 = !folder0" ng-class="{active:folder0}")
            span Settings
            .row
                input(type="checkbox" ng-model="settings.headtracking.active" ng-change="updateSDK()")
                label Headtracking
                
            .row
                input(type="checkbox" ng-model="settings.gyroscope")
                label Gyroscope
                
            .row
                input(type="checkbox" ng-model="settings.stereo")
                label Stereo
                
            .row
                button(type="button" onclick="refresh()") Reload page

            //- .row
            //-     select(ng-model="settings.headtracking.sdk")
            //-         option(ng-repeat="sdk in sdks" value="{{ sdk }}") {{ sdk }}
            //-     label SDK

            //- .row
            //-     input(type="checkbox" ng-model="camera.lookatobject")
            //-     label Look at object

        .folder(ng-click="folder1 = !folder1" ng-class="{active:folder1}")
            span Object 
            .row
                
            
        .folder.active(ng-click="folder2 = !folder2" ng-class="{active:folder2}")
            span Camera
            .row
                input(type="range" min=0 max=200 ng-model="camera.position.x" ng-change="updateCamera()")
                label pos X: {{camera.position.x}}
            .row
                input(type="range" min=0 max=200 ng-model="camera.position.y" ng-change="updateCamera()")
                label pos Y: {{camera.position.y}}
            .row
                input(type="range" min=0 max=200 ng-model="camera.position.z" ng-change="updateCamera()")
                label pos Z: {{camera.position.z}}    
            .row
                input(type="range" min=-3 max=3 step=0.001 ng-model="camera.rotation.y")
                label Yaw: {{ camera.rotation.y }}
            .row
                input(type="range" min=-3 max=3 step=0.001 ng-model="camera.rotation.x")
                label Pitch: {{ camera.rotation.x }}
            .row
                input(type="range" min=-3 max=3 step=0.001 ng-model="camera.rotation.z")
                label Roll: {{ camera.rotation.z }}
            .row
                button(type="button" onclick="resetPosition()") Reset Position
                button(type="button" ng-click="recenterRotation()") Recenter Rotation
                button(type="button" ng-click="resetRotation()") Reset Values
        
        .folder(ng-click="folder3 = !folder3" ng-class="{active:folder3}")
            span distortion
            .row 
                input(type="range" min=1 max=160 step=0.001 ng-model="distortion.horizontalFOV" oninput="updateDistortionEffect()")
                label FOV: {{ distortion.horizontalFOV }}
            .row 
                input(type="range" min=1 max=10 step=0.001 ng-model="distortion.strength" oninput="updateDistortionEffect()")
                label Strength: {{ distortion.strength }}
            .row 
                input(type="range" min=1 max=10 step=0.001 ng-model="distortion.cylindricalRatio" oninput="updateDistortionEffect()")
                label Cylindrical Ratio: {{ distortion.cylindricalRatio }}
        
        .folder.active
            spam Vector
            .row 
                input(type="range" min=1 max=100 step=0.001 ng-model="vector.y" ng-change="changeVector();")
                label vector.y: {{ vector.y }}
                
                
                
                
            



        .folder(ng-click="folder3 = !folder3" ng-class="{active:folder3}")




        .debuger(style="margin-top: 40px; color: white;")


        //- .folder Camera
        //-
        //- .folder Object Behaviour
        //-
        //- .folder Environment
        //-
        //- .folder Simulations
        //-
        //- .folder metrics




    #metrics
        span Gyroscope: <br>
        span yaw: {{ gyro.yaw }} <br>
        span pitch: {{ gyro.pitch }} <br>
        span roll: {{ gyro.roll }} <br>
        span  {{ data }}

    //- #pointer

    script(src="js/socket.io.js")
    script(src='scripts.min.js')
    script(src='js/main.js')
    script(src='/js/ngStorage.js')
